@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: "COCOGOOSE";
  src: url('../fonts/COCOGOOSE/Cocogoose_trial.otf');
  font-weight: bold;
}

:root {
  --textColor: #272a31;
  --primaryColor: #d3d3d3;
  --secondaryColor: #ec5242;
}

html {
  width: 100%;
}

body {
  justify-content: center;
  width: auto;
  font-family: 'Lato', sans-serif;
}

.main-class {
  overflow-x: hidden;
  width: 100%;
}

.present-head {
  height: 800px;
  background: rgba(158, 157, 157, 0.329);
  width: 100%;
}

.fa-bars {
  position: fixed;
  margin-left: 30px;
  font-size: 30px;
  margin-top: 30px;
  color: var(--textColor);
}

.all-motto {
  height: 420px;
  width: 100%;
  color: var(--secondaryColor);
  text-align: left;
}

.img-all {
  width: 100%;
  height: 420px;
}

.motto {
  margin-top: -290px;
  font-size: 28px;
  line-height: 32px;
  margin-left: 12px;
}

.summit-title {
  font-size: 42px;
  font-family: "COCOGOOSE", sans-serif;
  line-height: 38px;
  font-weight: bold;
  margin-left: 12px;
}

.block {
  margin: 60px 20px 30px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: var(--textColor);
  padding: 10px 20px;
  border: 2px solid white;
}

.time-program span {
  color: var(--textColor);
  margin-left: 20px;
  align-items: center;
}

.time-program span:first-child {
  font-size: 24px;
  font-weight: bolder;
}

.time-program span:last-child {
  font-size: 15px;
  font-weight: 900;
  opacity: 0.7;
}

.main-program {
  background-image: url('../images/main-background.png');
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--textColor);
}

.main-container {
  height: 100px;
}

.pro-title {
  color: var(--primaryColor);
  text-align: center;
  padding-top: 80px;
}

.pro-title::after {
  position: absolute;
  content: '';
  height: 2px;
  margin-top: 40px;
  width: 80px;
  left: 50%;
  background-color: var(--secondaryColor);
  transform: translate(-50%, 50%);
}

.container-program {
  display: grid;
  width: 100%;
  margin-top: 130px;
  grid-gap: 30px;
}

.team-container {
  height: 1900px;
}

.card {
  height: 120px;
  flex-direction: row;
  border-radius: 0;
  width: 95%;
  margin: auto;
  background: rgba(158, 157, 157, 0.329);
}

.card:hover {
  border: 1px solid aliceblue;
  width: 96.1%;
}

.school-icon {
  font-size: 50px;
  color: aliceblue;
  margin-left: 12px;
  margin-top: 20px;
}

.forum-icon {
  font-size: 50px;
  color: var(--secondaryColor);
  margin-top: 20px;
  margin-left: 12px;
}

.donation-icon {
  font-size: 50px;
  color: aliceblue;
  margin-left: 12px;
  margin-top: 20px;
}

.invest-icon {
  font-size: 50px;
  color: aliceblue;
  margin-left: 12px;
  margin-top: 14px;
}

.love-icon {
  font-size: 50px;
  color: var(--secondaryColor);
  margin-top: 20px;
  margin-left: 12px;
}

.fa-home-heart {
  background-color: aliceblue;
  padding: 2px;
}

.fa-users {
  background-color: aliceblue;
  padding: 2px;
}

.card-subtitle {
  font-weight: bold;
  margin-top: 35px;
  margin-left: 15px;
  color: var(--secondaryColor);
}

.card-text {
  color: aliceblue;
  width: auto;
  margin: auto;
  line-height: 16px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 20px;
}

.join-mission {
  width: 100%;
  text-align: center;
  margin: 80px 0;
}

.join {
  display: inline-block;
  flex-wrap: nowrap;
  padding: 15px 5px;
  width: 70%;
  color: white;
  background-color: var(--secondaryColor);
  font-size: 24px;
}

.our-team {
  height: 920px;
}

.team-title {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 20px;
  color: var(--textColor);
}

.team-title::after {
  position: absolute;
  content: '';
  height: 2px;
  margin-top: 40px;
  width: 80px;
  left: 50%;
  background-color: var(--secondaryColor);
  transform: translate(-50%, 50%);
}

.row {
  margin-top: 10px;
  width: auto;
}

.card-img-top {
  width: 120px;
  margin: auto;
}

.card2 {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.card-name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
}

.card-text1 {
  color: var(--secondaryColor);
  font-family: 'Lato', sans-serif;
  font-style: italic;
  line-height: 16px;
  font-weight: bold;
}

.line-txt {
  font-size: 10px;
  border: 4px black;
  width: 50px;
  color: black;
}

hr:not([size]) {
  height: 3px;
}

.card-text2 {
  font-family: 'Lato', sans-serif;
  padding-top: 14px;
  font-weight: bold;
  line-height: 17px;
}

/* last project code */

.threebar div {
  width: 30px;
  height: 4px;
  background-color: var(--primaryColor);
  margin: 6px;
  transition: all 0.3s ease;
}

.threebar {
  margin-top: 20px;
  position: absolute;
  width: 30px;
  height: 50px;
  cursor: pointer;
  margin-left: 35px;
}

.turn .line1 {
  transform: rotate(-45deg) translate(-6px, 8px);
}

.turn .line2 {
  opacity: 0;
}

.turn .line3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.navigation {
  display: none;
}

/* last project code */

/* to implement with class declared in JS */
.nav-active {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  list-style-type: none;
  display: block;
  flex-direction: column;
  background: linear-gradient(to right, #2f3032 0%, #f30 100%);
}

/* include */

.word a {
  text-decoration: none;
  font-size: 30px;
  color: var(--primaryColor);
  line-height: 80px;
  width: auto;
  margin-left: 50px;
  margin-top: 50px;
}

.media-nav {
  display: none;
}

.logo {
  display: none;
}

.main-headline {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.partner-section {
  background-color: #272a31;
  height: 350px;
}

.partner-title {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 40px;
  color: var(--primaryColor);
}

.partner-title::after {
  position: absolute;
  content: '';
  height: 2px;
  margin-top: 40px;
  width: 80px;
  left: 50%;
  background-color: var(--secondaryColor);
  transform: translate(-50%, 50%);
}

.list-part {
  display: flex;
  margin-left: -30px;
  justify-content: center;
  flex-wrap: wrap;
}

.list-part li {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 24px;
  margin-left: 15px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: auto;
}

.footer-text {
  text-align: left;
  margin: auto;
  width: auto;
  font-family: 'Lato', sans-serif;
  color: var(--textColor);
  line-height: 14px;
  font-weight: bold;
  opacity: 0.8;
}

.icon-unicef {
  width: 120px;
  height: 40px;
}

.logo-f {
  height: 120px;
  width: 200px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .all-motto {
    height: 420px;
  }

  .threebar {
    display: none;
  }

  .img-all {
    margin-top: 90px;
    height: 470px;
  }

  .motto {
    font-size: 34px;
    margin-left: 90px;
    width: 70%;
    padding-top: 20px;
  }

  .word a {
    margin-left: -30px;
  }

  .summit-title {
    font-size: 45px;
    line-height: 46px;
    margin-top: -12px;
    width: 94%;
  }

  .present-head {
    height: 900px;
  }

  .summit {
    display: block;
    margin-left: 80px;
    width: 65%;
    margin-top: 30px;
  }

  .navigation {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  .navigation li a {
    text-decoration: none;
    color: var(--textColor);
    font-size: 20px;
    font-weight: bold;
  }

  .word {
    width: 80px;
    height: 30px;
    text-decoration: none;
    color: var(--textColor);
    opacity: 0.8;
  }

  #word1 {
    color: var(--secondaryColor);
  }

  #word6 {
    color: var(--secondaryColor);
    border: 4px solid var(--secondaryColor);
    padding: 6px;
  }

  .nav-bar {
    display: flex;
    margin-top: 35px;
    height: 80px;
    position: fixed;
    justify-content: center;
    background-color: white;
    width: 100%;
  }

  .block-detail {
    width: 65%;
    margin-left: 80px;
  }

  .block {
    margin-top: 170px;
    width: 90%;
    font-size: 20px;
  }

  .pro-title::after {
    margin-top: 45px;
  }

  .container-program {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    grid-gap: 0;
    margin-left: 30px;
  }

  .card {
    flex-direction: column;
    height: 300px;
  }

  .main-program {
    height: 700px;
  }

  .join {
    display: none;
  }

  .card-subtitle {
    margin: auto;
    font-size: 24px;
  }

  .school-icon {
    margin: auto;
  }

  .forum-icon {
    margin: auto;
  }

  .invest-icon {
    margin: auto;
  }

  .love-icon {
    margin: auto;
  }

  .donation-icon {
    margin: auto;
  }

  .menu {
    display: block;
    position: fixed;
  }

  .social_media {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #000;
    display: block;
  }

  .media-nav {
    padding-top: 5px;
    align-items: center;
    list-style-type: none;
    margin: auto;
    display: flex;
    width: 94%;
    justify-content: right;
  }

  .social_media li a {
    text-decoration: none;
    margin-right: 20px;
    color: var(--primaryColor);
  }

  .list-part li {
    margin-top: -5px;
    margin-left: 50px;
  }

  .partner-section {
    height: 280px;
  }

  .menu-bar {
    display: none;
  }

  .notre-team {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    width: 80%;
    margin: auto;
  }

  .team-container {
    height: 800px;
  }

  .row {
    width: 400px;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
  }

  .card2 {
    flex-direction: row;
    margin-left: -180px;
  }

  .card-body {
    width: 200px;
  }

  .card-name {
    width: 200px;
  }

  .card-text1 {
    width: 250px;
  }

  .card-text2 {
    width: 230px;
  }

  .logo {
    margin-left: 20px;
    width: 33%;
    display: block;
  }

  .all-logo {
    width: 160px;
  }

  i.fas.fa-bars {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .motto {
    margin-left: 140px;
  }

  .logo {
    width: 550px;
  }

  .summit {
    margin-left: 135px;
  }

  .block-detail {
    margin-left: 140px;
  }

  .media-nav {
    margin: auto;
    width: 83%;
    justify-content: right;
    display: flex;
  }

  .container-program {
    margin-left: 80px;
  }
}

@media screen and (min-width: 1600px) {
  .logo {
    width: 1680px;
  }
}
